In [17]:
import os
import re
import pandas as pd

df_append = pd.DataFrame()
path = '../data'
file_list = os.listdir(path)
file_list.remove('company_overview.csv')
file_list.remove('data_backup')
for e in file_list:
    file_path = path + '/' + e
    df = pd.read_csv(file_path).drop_duplicates().reset_index(drop=True)
    df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)

/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)
/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)
/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)
/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)
/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)
/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)
/tmp/ipykernel_21101/1744590212.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_append = df_append.append(df).drop_duplicates().reset_index(drop=True)

In [18]:
df_append

,company,job_title,location,company_rating,job_age,job_link,run_date,oppurtunita_carriera,stipendio_e_benefit,cultura_e_valori,dirigenti_senior,equilibrio_lavoro_vita_privata,sede_centrale,dimensioni,tipo,entrate,fondata_nel,settore,segmento,scraping_date
0,Lina Stores,Capo Pasticcere,Napoli,4.1,4 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-16
1,FACILE RISTRUTTURARE S.p.a.,Ingegnere,Napoli,2.3,17 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-16
2,Contrader,Sviluppatore Java,Italia,4.7,Oltre 30 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-16
3,LAGARDERE TRAVEL RETAIL ITALIA,Addetto Alle Vendite,Napoli,2.9,11 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-16
4,Calzedonia Holding Spa,Personale di Supporto Alle Vendite,Napoli,3.1,Oltre 30 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,al Paladino,Cuoco,Taormina,NaN,Oltre 30 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-27
7976,NYX Professional Makeup,Addetto Alle Vendite,Messina,"<span class=""css-2lqh28 e1cjmv6j1"">3.6<i class...",29 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-27
7977,Boston Education,Operaio di Produzione,Reggio di Calabria,NaN,Oltre 30 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-27
7978,Genesi group s.r.l.,Rappresentante Commerciale,Messina,NaN,6 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-27
7979,SandAndYou,Informatore Scientifico,Messina,NaN,Oltre 30 g,https://www.glassdoor.it/partner/jobListing.ht...,2023-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-02-27

In [19]:
df_1 = df_append.groupby(['scraping_date'])[['job_link']].count().reset_index().rename(columns={'job_link':'total_row'})
df_2 = df_append[df_append['oppurtunita_carriera'].isna()].\
groupby(['scraping_date'])[['job_link']].count().reset_index().rename(columns={'job_link':'ko_evaluation'})
df_eval = df_1.merge(df_2, on = 'scraping_date')
df_eval['ratio'] = df_eval['ko_evaluation']/df_eval['total_row']*100
df_eval

  scraping_date  total_row  ko_evaluation       ratio
0    2023-02-16       1380           1001   72.536232
1    2023-02-17       2700           2072   76.740741
2    2023-02-19        900            900  100.000000
3    2023-02-24        900            900  100.000000
4    2023-02-25        900            900  100.000000
5    2023-02-26        360            133   36.944444
6    2023-02-27        840            840  100.000000